 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 904px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 169px auto 0;
  padding: 8px 66px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 17px auto 0;
  padding: 8px 66px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px auto 60px;
  padding: 8px 66px;
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 199px;
  }
}