.u-section-1 .u-sheet-1 {
  min-height: 766px;
}

.u-section-1 .u-product-1 {
  min-height: 646px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 8px;
}

.u-section-1 .u-image-1 {
  width: 563px;
  height: 559px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  margin: -134px 250px 0 auto;
  padding: 15px 61px 15px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: -419px 171px 0 auto;
}

.u-section-1 .u-product-price-1 {
  margin: 232px 359px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -233px 283px 0 468px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-product-1 {
    min-height: 649px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    height: 421px;
    margin-top: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -98px;
    margin-right: 313px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -367px;
    margin-right: 209px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 170px;
    margin-right: 386px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -169px;
    margin-right: 194px;
    margin-left: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-1 .u-product-1 {
    min-height: 1255px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 632px;
    margin-top: -7px;
    margin-left: -151px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -206px;
    margin-right: 127px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -456px;
    margin-right: 23px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 243px;
    margin-right: 204px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -206px;
    margin-right: 23px;
    margin-left: 380px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1230px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: 0;
    min-height: 1171px;
  }

  .u-section-1 .u-image-1 {
    width: 477px;
    height: 477px;
    margin-top: -21px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 177px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -266px;
    margin-right: 185px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 32px;
    margin-right: 197px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 76px;
    margin-left: 106px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-product-1 {
    min-height: 805px;
  }

  .u-section-1 .u-image-1 {
    width: 325px;
    height: 323px;
    margin-top: -22px;
    margin-left: -72px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: -110px;
    margin-right: 9px;
    padding: 9px 35px 10px 34px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.75rem;
    margin-top: -217px;
    margin-right: 35px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 104px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -97px;
    margin-right: -31px;
    margin-left: 191px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 451px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 230px;
  height: auto;
  margin: 58px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-text-1 {
  margin: 15px auto 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 314px;
    margin-top: -157px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 327px;
    margin-top: -479px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 318px;
    margin-top: -304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-2 .u-group-1 {
    min-height: 437px;
    margin-top: -475px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 451px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 331px;
  margin: -29px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 15px auto 0 10px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-top: -171px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-top: -426px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    margin-top: -230px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-3 .u-group-1 {
    min-height: 363px;
    margin-top: -485px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 639px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 30px auto 60px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -102px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: -415px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -221px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-video-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -485px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-video-1 {
    height: 191px;
    margin-top: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    left: auto;
    top: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100px;
}.u-section-6 .u-sheet-1 {
  min-height: 485px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-6 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 60px;
}

.u-section-6 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -145px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-6 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 12px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -440px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -549px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 139px;
}